@import "tailwindcss";

body {
  background-color: #0F172A;
  color: #F1F5F9;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fadeIn {
  animation: fadeIn 0.2s ease-in-out;
}

@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1080deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 2s cubic-bezier(0.25, 0.1, 0.25, 1);
}
